<div class="user-profile">
  <div class="infohead"><h3>{{ 'USER PROFILE' | translate }}</h3></div>
  
  <div class="profileinfo" *ngIf="!isEditing; else editForm">
    <div class="info-group">
      <div class="info">
        <p class="name">{{ 'NAME' | translate }}:</p>
        <p>{{ user.name }}</p>
      </div>
      <div class="info">
        <p class="name">{{ 'LAST NAME' | translate }}:</p>
        <p>{{ user.lastname }}</p>
      </div>
    </div>
    
    <div class="info-group">
      <div class="info">
        <p class="name">{{ 'EMAIL' | translate }}:</p>
        <p>{{ user.email }}</p>
      </div>
      <div class="info">
        <p class="name">{{ 'TELEPHONE' | translate }}:</p>
        <p>{{ user.phone }}</p>
      </div>
    </div>
    
    <div class="info-group">
      <div class="info">
        <p class="name">{{ 'BIRTH DATE' | translate }}:</p>
        <p>{{ user.birthdate }}</p>
      </div>
      <div class="info">
        <p class="name">{{ 'ADDRESS' | translate }}:</p>
        <p>{{ user.address }}</p>
      </div>
    </div>
    
    <div class="info-group">
      <div class="info">
        <p class="name">{{ 'COUNTRY' | translate }}:</p>
        <p>{{ countryName }}</p>
      </div>
      <div class="info">
        <p class="name">{{ 'CITY' | translate }}:</p>
        <p>{{ cityName }}</p>
      </div>
    </div>    
  
    <button class="edit-btn" (click)="editProfile()">
      {{ 'EDIT' | translate }}
      <svg viewBox="0 0 512 512" class="svg">
        <path
          d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"
        ></path>
      </svg>
    </button>

    <div *ngIf="!isChangingPassword">
      <button class="edit-btn pasw-btn" (click)="showChangePassword()">
        {{ 'CHANGE PASSWORD' | translate }}
        <svg viewBox="0 0 512 512" class="svg">
          <path
            d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  

  <ng-template #editForm>
    <form (ngSubmit)="saveChanges()" #editForm="ngForm">
      <div class="field-group">
        <div>
          <label>
            {{ 'NAME' | translate }}:
            <input
              [(ngModel)]="user.name"
              name="name"
              required
              #nameField="ngModel"
              [class.is-invalid]="nameField.invalid && (nameField.touched || nameField.dirty)"
            />
          </label>
          <div *ngIf="nameField.invalid && (nameField.touched || nameField.dirty)" class="error-message">
            <p *ngIf="nameField.errors?.['required']">{{ 'REQUIRED FIELD' | translate }}</p>
          </div>
        </div>
  
        <div>
          <label>
            {{ 'LAST NAME' | translate }}:
            <input
              [(ngModel)]="user.lastname"
              name="lastname"
              required
              #lastnameField="ngModel"
              [class.is-invalid]="lastnameField.invalid && (lastnameField.touched || lastnameField.dirty)"
            />
          </label>
          <div *ngIf="lastnameField.invalid && (lastnameField.touched || lastnameField.dirty)" class="error-message">
            <p *ngIf="lastnameField.errors?.['required']">{{ 'REQUIRED FIELD' | translate }}</p>
          </div>
        </div>
      </div>
  
      <div class="field-group">
        <div>
          <label>
            {{ 'EMAIL' | translate }}:
            <input
              [(ngModel)]="user.email"
              name="email"
              required
              type="email"
              #emailField="ngModel"
              [class.is-invalid]="emailField.invalid && (emailField.touched || emailField.dirty)"
              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            />
          </label>
          <div *ngIf="emailField.invalid && (emailField.touched || emailField.dirty)" class="error-message">
            <p *ngIf="emailField.errors?.['required']">{{ 'REQUIRED FIELD' | translate }}</p>
            <p *ngIf="emailField.errors?.['pattern']">{{ 'INVALID EMAIL FORMAT' | translate }}</p>
          </div>
        </div>
  
        <div class="form-group half-width">
          <label for="phone">{{ 'TELEPHONE' | translate }}</label>
          <div class="phone-input-container">
            <input
              id="phone-prefix"
              [width]="10"
              type="text"
              readonly
              [value]="selectedCountryPrefix"
              disabled
              style="width: 80px; display: inline-block;"
            />
            <input
            id="phone"
            name="phone"
            type="text"
            placeholder="{{ 'ENTER YOUR TELEPHONE' | translate }}"
            [(ngModel)]="phone"
            (input)="formatPhoneNumber()"
            required
            [class.is-invalid]="phoneField.invalid && (phoneField.touched || phoneField.dirty)"
            #phoneField="ngModel"
          />
          
          </div>
          <div *ngIf="phoneField.invalid && (phoneField.touched || phoneField.dirty)" class="error-message">
            <p *ngIf="phoneField.errors?.['required']">{{ 'REQUIRED FIELD' | translate }}</p>
            <p *ngIf="phoneField.errors?.['pattern']">{{ 'INVALID TELEPHONE NUMBER' | translate }}</p>
          </div>
        </div>
             
      </div>
  
      <div class="field-group">
        <div>
          <label>
            {{ 'BIRTH DATE' | translate }}:
            <input
              [(ngModel)]="user.birthdate"
              name="birthdate"
              required
              type="date"
              #birthdateField="ngModel"
              [class.is-invalid]="birthdateField.invalid && (birthdateField.touched || birthdateField.dirty)"
            />
          </label>
          <div *ngIf="birthdateField.invalid && (birthdateField.touched || birthdateField.dirty)" class="error-message">
            <p *ngIf="birthdateField.errors?.['required']">{{ 'REQUIRED FIELD' | translate }}</p>
          </div>
        </div>
  
        <div>
          <label>
            {{ 'ADDRESS' | translate }}:
            <input
              [(ngModel)]="user.address"
              name="address"
              required
              #addressField="ngModel"
              [class.is-invalid]="addressField.invalid && (addressField.touched || addressField.dirty)"
            />
          </label>
          <div *ngIf="addressField.invalid && (addressField.touched || addressField.dirty)" class="error-message">
            <p *ngIf="addressField.errors?.['required']">{{ 'REQUIRED FIELD' | translate }}</p>
          </div>
        </div>
      </div>
  
      <div class="field-group">
        <div>
          <label for="country">{{ 'COUNTRY' | translate }}</label>
          <select 
            [(ngModel)]="selectedCountry" 
            (change)="onCountryChange()" 
            id="country" 
            name="country" 
            required
            [class.is-invalid]="countryField.invalid && (countryField.touched || countryField.dirty)" 
            #countryField="ngModel"
          >
            <option value="" disabled>{{ 'SELECT COUNTRY' | translate }}</option>
            <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
          </select>
          <div *ngIf="countryField.invalid && (countryField.touched || countryField.dirty)" class="error-message">
            <p *ngIf="countryField.errors?.['required']">{{ 'REQUIRED FIELD' | translate }}</p>
          </div>
        </div>
      

        <div>
          <label>
            {{ 'CITY' | translate }}:
            <select [(ngModel)]="user.city" name="city" required #cityField="ngModel" [class.is-invalid]="cityField.invalid && (cityField.touched || cityField.dirty)">
              <option value="" disabled>{{ 'SELECT CITY' | translate }}</option>
              <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
            </select>
          </label>
          <div *ngIf="cityField.invalid && (cityField.touched || cityField.dirty)" class="error-message">
            <p *ngIf="cityField.errors?.['required']">{{ 'REQUIRED FIELD' | translate }}</p>
          </div>
        </div>
      </div>
  
      <div class="field-group-btn">
        <button type="submit">{{ 'SAVE' | translate }}</button>
        <button type="button" (click)="cancelEdit()">{{ 'CANCEL' | translate }}</button>
      </div>
      
    </form>
  </ng-template>  
  
  <ng-template [ngIf]="isChangingPassword">
    <div class="change-password-container">
      <h3>{{ 'CHANGE PASSWORD' | translate }}</h3>
      <form (ngSubmit)="saveNewPassword()" #changePasswordForm="ngForm">
        <div>
          <label for="currentPassword">{{ 'CURRENT PASSWORD' | translate }}</label>
          <input
            type="password"
            id="currentPassword"
            [(ngModel)]="currentPassword"
            name="currentPassword"
            required
          />
        </div>
        <div>
          <label for="newPassword">{{ 'NEW PASSWORD' | translate }}</label>
          <input
            type="password"
            id="newPassword"
            [(ngModel)]="newPassword"
            name="newPassword"
            required
          />
        </div>
        <div>
          <label for="confirmPassword">{{ 'CONFIRM PASSWORD' | translate }}</label>
          <input
            type="password"
            id="confirmPassword"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
          />
        </div>
  
        <div *ngIf="passwordError" class="error-message">
          {{ passwordError }}
        </div>
  
        <button type="submit">{{ 'SAVE' | translate }}</button>
        <button type="button" (click)="cancelPasswordChange()">
          {{ 'CANCEL' | translate }}
        </button>
      </form>
    </div>
  </ng-template>
  
  
</div>
