section {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  flex-wrap: wrap;
}

.hotels {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 350px;
  margin: 10px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
}

.hotels:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.hotelsimg img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

.hotelname {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin: 10px 0;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.hotelsdescr {
  font-family: cursive;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: #464545;
}

.favcontainer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favcontainer button {
  background-color: rgb(199,172,67);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

@keyframes beatingHeart {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.15);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1.15);
  }

  60% {
    transform: scale(1);
  }
}

.favcontainer button:hover {
  background-color: rgb(1,148,72);
  transform: scale(1.1);
}

.favcontainer button:active {
  background-color: rgb(199,172,67);
  transform: scale(1.05);
}

.favbtn svg {
  fill: rgb(167, 8, 8);
}

.favbtn:hover svg {
  animation: beatingHeart 1.2s infinite;
}

@media screen and (max-width: 1210px) {
  section {
    justify-content: center;
  }
}